:root {
  --logo-font: "Raleway", sans-serif;
  --content-font: "Roboto", sans-serif;
  --accent-color: rgb(33, 150, 243);
  --body-color: rgb(33, 33, 33);
  --description-color: rgb(117, 117, 117);
  --background-color: rgba(196, 196, 196, 1);
  --footer-background-color: rgb(47, 48, 58);
  --dark-background-text-color: rgb(255, 255, 255);
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --project-description-border: 1px solid rgb(238, 238, 238);
  --transmission-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: var(--body-color);
}

.list {
  list-style: none;
}

.body {
  font-family: var(--content-font);
  color: var(--body-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-first-part {
  color: var(--accent-color);
}

.logo-second-part {
  color: black;
}

.logo-second-part-bottom {
  color: var(--dark-background-text-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  display: block;
  position: absolute;
  content: "";
  top: 46px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.modal-button {
  display: block;
  font-family: inherit;
  color: var(--dark-background-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 500;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms var(--transmission-function);
}

.modal-button:hover, .modal-button:focus {
  color: var(--dark-background-text-color);
  background-color: #188ce8;
}

.secondary {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--transmission-function);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms var(--transmission-function);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--dark-background-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms var(--transmission-function), visibility 250ms var(--transmission-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 582px;
  background-color: var(--dark-background-text-color);
  border-radius: 4px;
  padding: 40px;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.modal-close-icon {
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.02;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  margin-bottom: 10px;
}

.input-wraper {
  display: block;
  position: relative;
  /* margin-top: 4px;
  margin-bottom: 10px; */
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-checkbox-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--description-color);
  margin-top: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--body-color);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  border: 2px solid var(--accent-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../img/icon-check.png);
  background-position: center;
  border: 2px solid var(--accent-color);
}

.policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.submit-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--dark-background-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  align-self: center;
  margin-top: 30px;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
}

.header-section {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 92px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  transition: color 250ms var(--transmission-function);
}

.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-icon {
  fill: var(--description-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms var(--transmission-function);
}

.header-contacts:hover .contact-icon,
.header-contacts:focus .contact-icon {
  fill: var(--accent-color);
}

.smartphone-icon {
  fill: var(--description-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms var(--transmission-function);
}

.header-contacts:hover .smartphone-icon,
.header-contacts:focus .smartphone-icon {
  fill: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  color: var(--description-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  transition: color 250ms var(--transmission-function);
}

.header-contacts:hover, .header-contacts:focus {
  color: var(--accent-color);
}

.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}

.hero-section {
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/Img.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  color: var(--dark-background-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.unit-section {
  padding-top: 94px;
}

.unit-list {
  display: flex;
}

.unit-card:not(:last-child) {
  margin-right: 30px;
}

.unit-icon-container {
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
}

.unit-icon {
  width: 70px;
  height: 70px;
}

.unit {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
}

.unit-description {
  color: var(--description-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.secondary-list {
  display: flex;
}

.whatwedo-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.whatwedo-item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
}

.whatwedo-item:not(:last-child) {
  margin-right: 30px;
}

.whatwedo-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--dark-background-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 28px;
  padding-bottom: 28px;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.teammate-list {
  display: flex;
}

.teammate-card {
  /* flex-basis: calc((100% - 120px) / 4); */
  background-color: var(--dark-background-text-color);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.teammate-card:not(:last-child) {
  margin-right: 30px;
}

.teammate-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.description {
  color: var(--description-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 10px;
}

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--transmission-function);
}

.client-list-link:hover, .client-list-link:focus {
  border: 1px solid var(--accent-color);
}

.client-list-icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms var(--transmission-function);
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: var(--accent-color);
}

.footer-section {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-adress-container {
  margin-right: 70px;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.adress-link {
  color: var(--dark-background-text-color);
}

.contact-link {
  margin-top: 9px;
}

.contact-item {
  color: white;
}

.footer-social-container {
  margin-right: 94px;
}

.footer-social-header {
  color: var(--dark-background-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--transmission-function);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-list-icon {
  fill: var(--dark-background-text-color);
  width: 20px;
  height: 20px;
}

.footer-subscribe-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.subscribe-input {
  width: 350px;
  padding: 16px;
  background-color: transparent;
  color: var(--dark-background-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  width: 200px;
  border-radius: 4px;
  color: var(--dark-background-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
}

.subscribe-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  font-family: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  transition: color 250ms var(--transmission-function), background-color 250ms var(--transmission-function), box-shadow 250ms var(--transmission-function);
}

.button:hover, .button:focus {
  color: var(--dark-background-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.project-link {
  display: block;
  box-sizing: border-box;
}

.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project-img-wraper {
  position: relative;
  overflow: hidden;
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 62px 24px;
  color: var(--dark-background-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--transmission-function);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0);
}

.project-description {
  border-right: var(--project-description-border);
  border-bottom: var(--project-description-border);
  border-left: var(--project-description-border);
  padding: 20px 24px;
}

.project-name {
  font-size: 18px;
  line-height: 2;
}
/*# sourceMappingURL=main.css.map */