.footer-section {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-adress-container {
  margin-right: 70px;
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.adress-link {
  color: var(--dark-background-text-color);
}
.contact-link {
  margin-top: 9px;
}
.contact-item {
  color: rgba(255, 255, 255, 60%);
}
.footer-social-container {
  margin-right: 94px;
}
.footer-social-header {
  color: var(--dark-background-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--transmission-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-social-list-icon {
  fill: var(--dark-background-text-color);
  width: 20px;
  height: 20px;
}
.footer-subscribe-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.subscribe-input {
  width: 350px;
  padding: 16px;
  background-color: transparent;
  color: var(--dark-background-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  width: 200px;
  border-radius: 4px;
  color: var(--dark-background-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
}
.subscribe-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
