.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.project-link {
  display: block;
  box-sizing: border-box;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}
.project-img-wraper {
  position: relative;
  overflow: hidden;
}
.overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 62px 24px;
  color: var(--dark-background-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--transmission-function);
  .project-link:hover &,
  .project-link:focus & {
    transform: translateY(0);
  }
}
.project-description {
  border-right: var(--project-description-border);
  border-bottom: var(--project-description-border);
  border-left: var(--project-description-border);
  padding: 20px 24px;
}
.project-name {
  font-size: 18px;
  line-height: 2;
}
