.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-first-part {
  color: var(--accent-color);
}
.logo-second-part {
  color: rgb(0, 0, 0);
}
.logo-second-part-bottom {
  color: var(--dark-background-text-color);
}
